
{#
/**
 * @file
 * Image CTA Paragraph
 *
 * Template for the Image CTA paragraph type.
 *
 * Available variables:
 *
 * {{ image }}
 * {{ link }}
 *
 */
#}

{%- set attributes = attributes.addClass(['su-image-cta-paragraph', modifier_class]) -%}

<div{{ attributes }}>
    {# kint() #}

    {{ image }}

    {{ link }}

</div>
