{#
/**
 * @file
 * Stories Paragraph
 *
 * Template for the Stories paragraph type.
 *
 * Available variables:
 *
 * {{ image }}
 * {{ name }}
 * {{ quote }}
 * {{ link }}
 * {{ cta }}
 * {{ attributes }}
 * {{ variant }}
 *
 */
#}

{%- set attributes = attributes.addClass(['su-stories-paragraph', modifier_class]) -%}

<div{{ attributes }}>
    <div class="flex-12-of-12 flex-lg-10-of-12 flex-xl-8-of-12 su-stories--card">
        <div class="su-stories--content">
            {{ image }}
            <div class="su-stories--details">
                {{ name }}
                {{ quote }}
                {{ link }}
            </div>
        </div>
        <div class="su-stories--cta">
            {{ cta }}
        </div>
    </div>
</div>
