{#
/**
 * @file
 * Stories Paragraph
 *
 * Template for the Stories paragraph type.
 *
 * Available variables:
 *
 * {{ image }}
 * {{ paragraph_content }}
 * {{ cta }}
 *
 */
#}
{%- set attributes = attributes.addClass(['su-stories-paragraph', modifier_class]) -%}

{%- set img_variant_keys = image|keys -%}
{%- set img_variant_field_name = img_variant_keys[1] -%}
{%- set img_variant_field = image[img_variant_field_name] -%}
{%- set img_variant_value = img_variant_field['#items'][0].value  -%}

{%- if img_variant_value == 1 -%}
{%- set border_color = 'border-color-1' -%}
{%- elseif img_variant_value == 2 -%}
{%- set border_color = 'border-color-2' -%}
{%- elseif img_variant_value == 3 -%}
{%- set border_color = 'border-color-3' -%}
{%- else -%}
{%- set border_color = 'border-color-default' -%}
{%- endif -%}
{%- set img_attributes = create_attribute() -%}
{%- set img_classes = ['su-stories-paragraph--photo', border_color] -%}

{%- set quote_keys = quote|keys -%}
{%- set quote_field_name = quote_keys[0]  -%}
{%- set quote_field = quote[quote_field_name]  -%}
{%- set quote_value = quote_field['#items'][0].value -%}

<div{{ attributes }}>
  <div class="su-stories-paragraph--content">
    <div{{ img_attributes.addClass(img_classes) }}>
      {{ image }}
    </div>
    <div class="su-stories-paragraph--details">
      {{ person_content }}
      <div class="su-stories-paragraph--quote">
        <p>"{{ quote_value }} ..."</p>
      </div>
      {{ link }}
    </div>
  </div>
  <div class="su-stories-paragraph--cta-region">
    {{ cta }}
  </div>
</div>
